@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --black: #1e1e1e;
  --white: #e7e7d8;
  --eagle: #afac95;
  --orange: #ea4125;

  --font-sans: var(--font-geist), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-eagle: var(--eagle);
  --color-orange: var(--orange);

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@theme {
  --background-image-grid:
    repeating-linear-gradient(
      to right,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 6px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 6px
    );

  /* Keyframes */
  --animate-marquee: marquee 50s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
